html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  background: azure;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

pre,
code {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  page-break-inside: avoid;
  font-family: monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  display: block;
  word-wrap: break-word;
}

.form-control {
  display: block;
  width: 100%;
  padding: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label + input {
  margin-top: 5px;
}

.btn-danger {
  background: crimson;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.btn-danger:hover {
  background: red;
}

.validation-error {
  color: red;
}

footer {
  margin: 20px 0;
  font-size: 12px;
}

.warn {
  padding: 10px;
  background: orange;
}
